@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-balsamiq-sans: "Balsamiq Sans", sans-serif;
}

@font-face {
  font-family: "Balsamiq Sans";
  src: url("../../public/assets/fonts/BalsamiqSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Balsamiq Sans";
  src: url("../../public/assets/fonts/BalsamiqSans-Italic.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Balsamiq Sans";
  src: url("../../public/assets/fonts/BalsamiqSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Balsamiq Sans";
  src: url("../../public/assets/fonts/BalsamiqSans-BoldItalic.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
